body{
    text-align:center;
    background-color:red;
    }
.h2{
    color:green;
  }
  section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .title-group {
    text-align: center;
  }